body{
    --circleDivs1: linear-gradient(135deg, rgb(118 171 237 / 84%),rgb(118 138 237));
    --circeDivs2: rgb(115 30 165 / 76%);
}

body.dark{
    --circleDivs1: linear-gradient(135deg, rgba(209, 1, 105, 0.884),rgba(158, 7, 158, 0.767));
    --circeDivs2: rgba(115, 30, 165, 0.555);
}

#background{
    height: 100vh;
    width: 100vw;
    background-color: var(--Background);
    position: fixed;
    top: 0px;
    left: 0px
}

.bgCircle{
    position: fixed;
    border-radius: 50%;
    filter: blur(100px);
}
#background .bgCircle:nth-child(1){
    background-image: var(--circleDivs1);
    width: 500px;
    height: 500px;
    top: -200px;
    left: -200px;
}
#background .bgCircle:nth-child(2){
    background-color: var(--circeDivs2);
    width: 300px;
    height: 300px;
    bottom: -150px;
    right: -150px;
}

.bgBlur{
    backdrop-filter: blur(100px) saturate(.6);
}

h2:not(.mobile){
    /* backdrop-filter: blur(50px) saturate(.7); */
    padding: 3px 8px;
    width: fit-content;
    border-radius: 15px;
    z-index: 1;
    backdrop-filter: blur(20px) saturate(.7);
}
